@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  
  --main-text-color: #E2E8F0;
  --secondary-text-color: #CBD5E1;
  --accent-color: #3B82F6;
  --secondary-accent-color: #6EE7B7;
  --error-color: #EF4444;
  --success-color: #22C55E;
  --warning-color: #FACC15;
  --border-color: #475569;
  --container-color: #1E293B;

  --main-font: "Roboto", sans-serif;
  --max-font-size: 3rem;
  --big-font-size: 1.5rem;
  --title-font-size: 1.5rem;
  --subtitle-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem; 

  --font-normal: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  --z-10: 10;
  --z-100: 100;

  --header-height: 70px;
  
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Reset default styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--main-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--container-color);
  color: var(--main-text-color)
}

input,
button,
textarea {
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--main-text-color);
  font-weight: var(--font-bold);
}

p {
  line-height: 130%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  padding: 10px;
}
.page-title {
  text-align: center;
  font-size: var(--big-font-size);
  margin-bottom: 2rem;
}